.header-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
}

@media(max-width: 520px) {
    .header-container {
        font-size: 1.5rem;
    }
}

@media(max-width: 428px) {
    .header-container {
        font-size: 1rem;
    }
}